{% extends "base/default-page.html" %}

{% block content %}
<div class="carousel slide" style="height: 5em; margin-top: 7%">
    <span class="ui huge text">Admin accounts</span>
</div>
<div class="ui divider"></div>
<div class="ui raised segment" style="border: 1px solid #ccc; border-radius: 5px; padding: 20px;">
    <table class="ui celled selectable inverted table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Setup password</th>
                <th>Delete account</th>
                <th>Edit Roles</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td data-label="Username">{{ account.username }}</td>
                <td data-label="Name">{{ account.first_name }} {{ account.last_name }}</td>
                <td data-label="Email">{{ account.email }}</td>
                <td data-label="Status">{{ account.status }}</td>
                <td data-label="Recover">
                    {% if account.has_roles("admin") %}
                    <a href="{{ url_for('admin.accounts.setup_password', user_id=account.id) }}">
                        <i class="redo icon"></i> Recover
                    </a>
                    {% endif %}
                </td>

                <td>
                    <a class="ui red button" href="{{ url_for('admin.accounts.delete', user_id=account.id) }}">
                        <i class="trash icon"></i> Delete
                    </a>
                </td>
                <td data-label="Edit Roles">
                    <a class="ui blue icon button"
                        href="{{ url_for('admin.accounts.edit_roles', user_id=account.id) }}">
                        <i class="edit icon"></i>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<style>
    /* สีพื้นหลังปุ่ม Recover */
    td[data-label="Recover"] a {
        background-color: #4CAF50;
        /* เปลี่ยนสีตามความต้องการ */
        color: white;
        /* สีข้อความ */
        padding: 8px 16px;
        /* ปรับขนาดของปุ่ม */
        border-radius: 4px;
        /* ทำให้มีมุมโค้ง */
        text-decoration: none;
        /* ลบขีดเส้นใต้ข้อความ */
        display: inline-block;
    }

    /* สีพื้นหลังปุ่ม Delete */
    td a.ui.red.button {
        background-color: #f44336;
        /* เปลี่ยนสีตามความต้องการ */
        color: white;
        /* สีข้อความ */
        padding: 8px 16px;
        /* ปรับขนาดของปุ่ม */
        border-radius: 4px;
        /* ทำให้มีมุมโค้ง */
        text-decoration: none;
        /* ลบขีดเส้นใต้ข้อความ */
        display: inline-block;
    }
</style>

{% endblock %}

{% block additional_js %}
{% endblock %}