<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <div class="container">
        <div class="ui horizontal list">
            <div class="item">
                <img class="ui mini circular image" src="../../static/image/matthew.png" style="height: 3em" />
                <div class="content">
                    <div class="ui sub header">{{ current_user.username }}</div>
                    {{ current_user.email }}
                </div>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
                {% if current_user.has_roles("admin") %}
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{{ url_for('admin.menus.index')}}"><i
                            class="user shield icon"></i>สำหรับพนักงาน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/admin/accounts"><i class="user lock icon"></i>Admin</a>
                </li>
                {% endif %}
                <li class="nav-item ms-3">
                    <a type="button" class="btn btn-primary" href="/logout">
                        <i class="sign-out alternate icon"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>