{% extends "base/default-page.html" %}

{% block content %}
<div class="container" style="margin-top: 5%; font-family: 'Kanit', sans-serif;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="ui segment">
                <h2 class="ui header" style="font-family: 'Kanit', sans-serif;">{{ menu.name }}</h2>
            </div>
            <div class="ui divider"></div>
            <form method="POST" enctype="multipart/form-data">
                <div class="text-center">
                    <img src="{{ url_for('menus.get_image', document_id=menu.id, filename=menu.document.filename) }}"
                        class="ui image" alt="menu Image" />
                </div>
                <div class="mt-3">
                    <p>{{ menu.description }}</p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}