{% extends "base/default-page.html" %}

{% block content %}
<div class="carousel slide" style="height: 5em; margin-top: 5%">

    {% if 'create' in request.path %}
    <span class="ui huge text">New Menu</span>
    {% else %}
    <span class="ui huge text">Edit Menu</span>
    {% endif %}

</div>
<div class="ui divider"></div>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group my-3">
        {{ form.csrf_token }}
        <span class="ui large text">{{ form.name.label }}</span>
        {{ form.name(class_='form-control') }}
    </div>
    <div class="form-group my-3">
        <span class="ui large text">{{ form.description.label }}</span>
        {{ form.description(class_='form-control', rows=10) }}
    </div>
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="image file outline icon"></i>
        </div>
        <div class="ui button">{{ form.document_upload }}</div>
    </div>
    <div>
        {% if 'create' in request.path %}
        <button type="submit" class="ui green left attached button">Create</button>
        {% else %}
        <button type="submit" class="ui green left attached button">update</button>
        {% endif %}
        <a class="right red attached ui button" href="/admin/menus">Cancel</a>
    </div>
</form>

{% endblock %}