{% extends "base/home-page.html" %}

{% block content %}
<style type="text/css">
    .hidden.menu {
        display: none;
    }

    .masthead.segment {
        min-height: 700px;
        padding: 1em 0em;
    }

    .masthead .logo.item img {
        margin-right: 1em;
    }

    .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
    }

    .masthead h1.ui.header {
        margin-top: 3em;
        margin-bottom: 0em;
        font-size: 4em;
        font-weight: normal;
    }

    .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
    }

    .ui.vertical.stripe {
        padding: 8em 0em;
    }

    .ui.vertical.stripe h3 {
        font-size: 2em;
    }

    .ui.vertical.stripe .button+h3,
    .ui.vertical.stripe p+h3 {
        margin-top: 3em;
    }

    .ui.vertical.stripe .floated.image {
        clear: both;
    }

    .ui.vertical.stripe p {
        font-size: 1.33em;
    }

    .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
    }

    .quote.stripe.segment {
        padding: 0em;
    }

    .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .footer.segment {
        padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
        display: none;
    }

    @media only screen and (max-width: 700px) {
        .ui.fixed.menu {
            display: none !important;
        }

        .secondary.pointing.menu .item,
        .secondary.pointing.menu .menu {
            display: none;
        }

        .secondary.pointing.menu .toc.item {
            display: block;
        }

        .masthead.segment {
            min-height: 350px;
        }

        .masthead h1.ui.header {
            font-size: 2em;
            margin-top: 1.5em;
        }

        .masthead h2 {
            margin-top: 0.5em;
            font-size: 1.5em;
        }
    }
</style>
<script>
    $(document)
        .ready(function () {

            // fix menu when passed
            $('.masthead')
                .visibility({
                    once: false,
                    onBottomPassed: function () {
                        $('.fixed.menu').transition('fade in');
                    },
                    onBottomPassedReverse: function () {
                        $('.fixed.menu').transition('fade out');
                    }
                })
                ;

            // create sidebar and attach to menu open
            $('.ui.sidebar')
                .sidebar('attach events', '.toc.item')
                ;

        })
        ;
</script>
<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden">
    <div class="ui container">
        <a class="active item">Home</a>
        <div class="right menu">
            <div class="item">
                <a class="ui button" href="/login">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button" href="/register">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<!-- Page Contents -->
<div class="pusher" style="font-family: 'Kanit', sans-serif;">
    <div class="ui inverted vertical masthead center aligned segment"
        style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../static/image/Imagehome.png') center/cover; width: 100%;">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item">Home</a>
                <div class="right item">
                    <a class="ui inverted button" href="/login">Log in</a>
                    <a class="ui inverted button" href="/register">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="ui text container" style="margin-top: -5%;">
            <h1 class="ui inverted header">
                <span>Perfect Roast</span>
                <p>Get Better Taste Coffee</p>
            </h1>
            <h2 style="margin-top: 2%;">Choose beans and roast your own level</h2>
            {% if current_user %}
            <a class="ui huge primary button" style="margin-top: 5%;" href="/menus">Get Started <i
                    class="right arrow icon"></i></a>
            {% else %}
            <a class="ui huge primary button" style="margin-top: 5%;" href="/login">Get Started <i
                    class="right arrow icon"></i></a>
            {% endif %}

        </div>

    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <p>กาแฟ (Coffee) เป็นเครื่องดื่มที่ทำจากเมล็ดกาแฟคั่วซึ่งได้จากต้นกาแฟ นิยมดื่มร้อนๆ
                        แต่สามารถดื่มแบบเย็นได้ด้ว บางครั้งนิยมใส่นมหรือครีมลงในกาแฟด้วย
                        ในกาแฟหนึ่งถ้วยมีคาเฟอีนอยู่ประมาณ 80-140 มิลลิกรัม
                        กาแฟเป็นเครื่องดื่มที่ได้รับความนิยมมากที่สุดในโลกชนิดหนึ่งเช่นเดียวกับชาและน้ำ นอกจากนี้
                        กาแฟยังเป็นผลผลิตทางการเกษตรที่มีการส่งออกมากเป็นอันดับที่หกของโลก</p>
                </div>
                <style>
                    .ui.card {
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        transition: box-shadow 0.3s ease-in-out;
                    }

                    .ui.card:hover {
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                    }
                </style>

                <div class="six wide right floated column">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui green button">
                            <i class="heart icon"></i> QRcode Bot Line
                        </div>
                        <a class="ui basic green left pointing label">
                            COFFEE_BOY
                        </a>
                    </div>
                    {% for qrcode in qrcodes | sort(attribute='updated_date', reverse=True) %}
                    <div class="ui card">
                        <div class="image">
                            <img class="qr-code-img"
                                src="{{ url_for('home.get_image', document_id=qrcode.id, filename=qrcode.document.filename) }}" />
                        </div>
                    </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>

    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <div style="display: inline-block; text-align: left;">
                        <img src="../../static/image/cold-brew.webp" class="ui large bordered rounded image"
                            style="border: none; border-radius: 0; height: 25em; width: 21em; margin-top: -50px;">
                    </div>
                    <h3><b>COLD BREW</b></h3>
                    <p><i class="clock icon"></i> ใช้วิธีการชงในน้ำเย็นนานกว่า 12 ชั่วโมง</p>
                    <p><i class="coffee icon"></i> มีคาเฟอีนมากกว่า</p>
                    <p><i class="seedling icon"></i> ใช้ผงจากการบดกากเมล็ดในการชง</p>
                </div>
                <div class="column ui formatic inverted iced-coffee" style="background-color: #d7b758;">
                    <div style="display: inline-block; text-align: left;">
                        <img src="../../static/image/iced-coffee.png" class="ui large bordered rounded image"
                            style="border: none; border-radius: 0; height: 22em; width: 21em;">
                    </div>
                    <h3><b>ICED COFFEE</b></h3>
                    <p><i class="mug hot icon"></i> ใช้วิธีการชงแบบร้อนแต่นำมาใส่น้ำแข็ง</p>
                    <p><i class="cube icon"></i> มีรสชาติขมที่เข้มแต่ส่วนใหญ่จะใส่น้ำตาล</p>
                    <p><i class="money bill icon"></i> ราคาเป็นมิตร</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical segment" style="text-align: center; ">
        <div style="max-width: 100%; overflow: hidden;">
            <iframe
                src="https://lookerstudio.google.com/embed/reporting/4bff92c2-f3b1-46c4-ae57-e7e99725e188/page/vSalD"
                frameborder="0" style="border: 0; width: 100%; min-height: 80vh;" allowfullscreen
                sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
        </div>
    </div>

    <div class="ui vertical segment">
    </div>



    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Member 1</h4>
                    <div class="ui inverted link list">
                        <div class="ui list">
                            <div class="item">
                                <i class="users icon"></i>
                                <div class="content">
                                    Nattanon Chumrit
                                </div>
                            </div>
                            <div class="item">
                                <i class="marker icon"></i>
                                <div class="content">
                                    PSU
                                </div>
                            </div>
                            <div class="item">
                                <i class="mail icon"></i>
                                <div class="content">
                                    <a href="mailto:contact@fomantic-ui.com">6510110140@psu.ac.th</a>
                                </div>
                            </div>
                            <div class="item">
                                <i class="linkify icon"></i>
                                <div class="content">
                                    <a href="https://github.com/oPECHo">github.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Member 2</h4>
                    <div class="ui inverted link list">
                        <div class="ui list">
                            <div class="item">
                                <i class="users icon"></i>
                                <div class="content">
                                    Phattaraphon Sripaoraya
                                </div>
                            </div>
                            <div class="item">
                                <i class="marker icon"></i>
                                <div class="content">
                                    PSU
                                </div>
                            </div>
                            <div class="item">
                                <i class="mail icon"></i>
                                <div class="content">
                                    <a href="mailto:contact@fomantic-ui.com">6510110344@psu.ac.th</a>
                                </div>
                            </div>
                            <div class="item">
                                <i class="linkify icon"></i>
                                <div class="content">
                                    <a href="https://github.com/oPECHo">github.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Member 3</h4>
                    <div class="ui inverted link list">
                        <div class="ui list">
                            <div class="item">
                                <i class="users icon"></i>
                                <div class="content">
                                    Samutthai Wattanasin
                                </div>
                            </div>
                            <div class="item">
                                <i class="marker icon"></i>
                                <div class="content">
                                    PSU
                                </div>
                            </div>
                            <div class="item">
                                <i class="mail icon"></i>
                                <div class="content">
                                    <a href="mailto:contact@fomantic-ui.com">6510110480@psu.ac.th</a>
                                </div>
                            </div>
                            <div class="item">
                                <i class="linkify icon"></i>
                                <div class="content">
                                    <a href="https://github.com/oPECHo">github.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Footer Header</h4>
                    <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                </div>
            </div>
        </div>
    </div>
</div>




<span id="PING_CONTENT_DLS_POPUP" style="display: none;"></span>
<div
    style="background-color: transparent; border: none; bottom: 15px; display: block; margin: 0px; opacity: 1; padding: 0px; position: fixed; right: 15px; z-index: 2147483646;">
</div>
{% endblock %}